* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* -------------------------Navigation Bar------------------------- */
header {
  display: flex;
  justify-content: space-between;
  background-color: #04AA6D;
  color: white;
  padding: 10px 0px 10px 0px;
  justify-content: center;
}

.nav_bar {
  align-items: center;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  justify-content: center;
}

/* -------------------------Homepage------------------------- */
.index_introduction {
  text-align: center;
  margin: 400px 0px 370px 0px;
}

/* -------------------------Homepage Button------------------------- */
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button {
  background-color: white; 
  color: black; 
  border: 2px solid #04AA6D;
}

.button:hover {
  background-color: #04AA6D;
  color: white;
}

/* -------------------------About Us------------------------- */
.about_us_header {
  text-align: center;
  margin: 30px 0px 0px 0px;
}

/* -------------------------Product Page------------------------- */
.product_main {
  padding: 100px;
} 

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  width: 1500%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* -------------------------Contact Us Page------------------------- */
/* Contact Us Information */
.contact_info {
  margin: 100px 50px 0px 50px;
}

/* Contact Form */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.contact_form {
  border-radius: 5px;
  padding: 40px;
  margin: 0px 50px 50px 50px;
}

/* -------------------------Footer------------------------- */
footer {
  background-color: green;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 0px;
}